body {
  background: pink;
  text-align: center;
  font-family: Arial, sans-serif;
  color: white;
}

h1 {
  /*display: none;*/
}

.ttt-selection > .active,
.ttt-square:focus {
  outline: 4px dashed white;
}

button {
  height: 20vh;
  width: 28vw;
  max-height: 28vw;
  max-width: 20vh;
  border: none;
  background: white;
  margin: 5px;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

button:focus, button:active {
  outline: none;
}

.green, .ttt-row > .green  {
  background-color: #CBFFC0;
}

.blue, .ttt-row > .blue {
  background-color: #C0CBFF;
}

.tie-marker {
  background: transparent;
}

@media all and (min-width: 40em) {
  h1 {
    position: fixed;
    display: initial;
    transform: rotate(90deg);
    top: 2em;
    left: -1.5em;
  }
}
